<div class="encabezado">
    <div>
        <label>ID Acta a buscar: </label>
    </div>
    <div>
        <input type="number" placeholder="Escriba el ID">
        <button>Buscar</button>
    </div>
</div>
<div class="cltable">
    <table>
    
        <caption>Informacion de Acta</caption>
    
        <tr>
            <th>ID Acta</th>
            <th>Descripcion</th>
            <th>Acuerdos</th>
            <th>Considerandos</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Reunion del 27/08/19</td>
            <td>Viaje al exterior, Aprobacion de ley 27</td>
            <td>Solicitar mas becas</td>
        </tr>
        
    </table> 
</div>
